
.enter_button {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin: 50px auto 0;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  background: lime;
  box-shadow: 5px 5px 10px lime;
  user-select: none;
  transition: 0.7s;
}

.enter_button:active {
  transform: translateY(4px);
}

.enter_button:hover {
  color: lime;
  background: #ffffff;
  border: 1px solid lime;
}

.enter_button:after {
  content:"今だッ！";
}

.enter_button:hover:after {
  content:"発動！";
}

.results_button {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin: 50px auto 0;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  background: #1f2f54;
  box-shadow: 5px 5px 10px #1f2f54;
  user-select: none;
  transition: 0.7s;
}

.results_button:active {
  transform: translateY(4px);
}

.results_button:hover {
  color: #1f2f54;
  background: #ffffff;
  border: 1px solid #1f2f54;
}

.results_button:after {
  content:"You Lose";
}

.results_button:hover:after {
  content:"Retry";
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.second_button {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin: 50px auto 0;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  background: #fabe00;
  box-shadow: 5px 5px 10px #fabe00;
  user-select: none;
  transition: 0.7s;
}

.second_button:hover {
  color: #fabe00;
  background: #ffffff;
  border: 1px solid #fabe00;
}

.second_button:after {
  content: "連打してね"
}

.second_button:hover:after {
  content: "いいや！限界だ押すね！"
}

.finish_button {
  width: 20%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin: 50px auto 0;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #ffffff;
  background: #F5D100;
  box-shadow: 5px 5px 10px #F5D100;
  user-select: none;
  transition: 0.7s;
}

.finish_button:active {
  transform: translateY(4px);
}

.finish_button:hover {
  color: #F5D100;
  background: #ffffff;
  border: 1px solid #F5D100;
}

.finish_button:after {
  content:"You Win!!!";
}

.finish_button:hover:after {
  content:"Thank you!";
}

p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
